@charset "utf-8";
html {
  scroll-behavior: smooth;
}
/* 
  system-ui : 운영체제의 기본 서체
  -apple-system : mac, iOS
  BlinkMacSystemFont : chrome 등 블링크 렌더링 엔진을 사용하는 브라우저
  Segoe UI : window

  vedor prefix
  확정되지 않은 기능을 개발자가 미리 사용할 수 있게 만들어 놓은 약속어
  브라우저에 내장된 기능을 이 벤더(접두어)를 통해 사용하게 만듦
  -m- IE
  -webkit- 크롬, 엣지, 웨일
  -o- 오페라
  -moz- 파이어폭스

  https://caniuse.com/?search=scrollbar
  https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
  */

/* 스크롤바 가로 크기 */
body::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 배경 */
body::-webkit-scrollbar-track {
  background-color: #fff;
}
/* 스크롤바 핸들 */
body::-webkit-scrollbar-thumb {
  background-color: #FF204E;
  border: 1px solid yellow;
  border-radius: 5px;
}

body {
  font-family: 'SpoqaHanSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', '맑은 고딕', '돋움', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

/* nav */
.gnb {
  /* background-color: #fff; */
  position: fixed;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  width: 50%;
  /* absolute, fixed 좌우 중앙 정렬, 한정된 범위 필요 */

  box-shadow:
  0px 2.1px 2.7px rgba(0, 0, 0, 0.022),
  0px 5.2px 6.9px rgba(0, 0, 0, 0.031),
  0px 10.6px 14.2px rgba(0, 0, 0, 0.039),
  0px 21.9px 29.2px rgba(0, 0, 0, 0.048),
  0px 60px 80px rgba(0, 0, 0, 0.07);

  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  padding: 0 30px 0 30px;
  background-color: #fff;
}
.gnb li {
  /* width: 25%; */
  flex-grow: 1;
}
.gnb a {
  display: block;
  padding: 10px 0;
}
/* .gnb li:nth-child(1) a {
  border-radius: 0 0 0 15px;
} */
.gnb li:nth-child(1) a, #box1 { background-color: #496989;}
.gnb li:nth-child(2) a, #box2 { background-color: #58A399;}
.gnb li:nth-child(3) a, #box3 { background-color: #A8CD9F;}
.gnb li:nth-child(4) a, #box4 { background-color: #E2F4C5;}
.gnb li:hover a {
  color: #fff;
  background-color: #FF204E;
}


/* box */
.box {
  font-size: 2rem;
  font-weight: 700;
  height: 100vh;
  padding-top: 100px;
}
